:root {
    --greycolor: #242424;
    --whitecolor: #ffffff;
}

* {
    text-align: center;
    color: var(--whitecolor);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--greycolor);
}